
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

main{
    min-height: calc(100vh - 121px);
}


.container{
  width: 80%;
  margin: 0 auto;
  max-width: $container-width;
}
