header{
    background-color: $header-bg;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 999;
    position: fixed;
    top:0;
    width: 100%;

    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;


       .logo{
          width: 200px;
          display: flex;
          align-self: center;
        }

        li{
          display: inline;
          margin: 7px;
        }
    }



  }
